body,
svg {
  font-family: 'Amstelvar';
  background-color: black;
  padding: 0%;
  margin: 0%
}

@font-face {
  font-family: 'Amstelvar';
  src: url("fonts/Amstelvar-Roman.ttf") format("truetype-variations");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amstelvar';
  src: url("fonts/Amstelvar-Italic.ttf") format("truetype-variations");
  font-weight: normal;
  font-style: italic;

}

.letters {
  display: inline-flex;
  font-style: normal;
  overflow: hidden;
  justify-content: center;
  text-align: left;
  padding: .5%;
  color: rgb(255, 255, 255);
}

.letters:nth-of-type(72) {
  font-style: italic;
}

.letters:nth-of-type(114):before {
  content: '/n';
  display: block;
}